.gallery {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (min-width: 768px) {
    --items: 2;
  }

  @media only screen and (min-width: 1280px) {
    --items: 3;
  }
}

.gallery-item {
  height: 200px;

  transition: var(--fast-trns) ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  object-fit: cover;
}
