.gallery-section {
  background-color: rgb(var(--cl-lt-gray));
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (min-width: 768px) {
    --items: 2;
  }

  @media only screen and (min-width: 1280px) {
    --items: 3;
  }
}

.gallery-item {
  height: 200px;

  transition: var(--fast-trns) ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  object-fit: cover;
}

.sl-wrapper.simple-lightbox {
  background-color: rgb(var(--cl-black), 80%);
}

.sl-counter,
.sl-close,
.sl-prev,
.sl-next {
  color: rgb(var(--cl-white)) !important;
}
